body {
  display: grid;
  margin: 0;
  font-family: monospace;
  background-color: rgb(252, 235, 184);
  grid-template-rows: 10vh, 90;
  grid-template-columns: 20vw, 80vw;
}

.nav-bar {
  height: 8vh;
  width: 100vw;
  background-color: rgb(159, 98, 0);
  grid-row: 1;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: right;
  align-items: right;
  border: 20px solid rgb(159, 98, 0);
}

.side-bar {
  height: 50vh;
  width: 20vw;
  background-color: rgb(159, 98, 0);
  grid-row: 2;
  grid-column: 1;
  display: flex;
  justify-content: left;
  align-items: left;
  border: 5px solid rgb(159, 98, 0)
}

.dog-container {
  height: 92vh;
  width: 80vw;
  float: right;
  grid-row: 2;
  grid-column: 2;
  display: wrap;
  border: 5px solid rgb(252, 235, 184);

}

.nav-links {
  font-family: monospace;
  font-size: 40px;
  color: white;
  cursor: pointer;
  border:rgb(252, 235, 184);
  padding: 3rem;
}

.card {
  text-align: center;
  border: rgb(159, 98, 0) solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #fcd22ad3
}

.dog-picture {
  justify-self: center;
  height: 12rem;
  width: auto;
}

.like-button {
  position: relative;
  border: none;
  background-color:rgb(252, 235, 184);
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  font-size: 25px;
  justify-self: left;
  margin-bottom: 2px;
}

.like-button:hover {
  background-color:rgb(159, 98, 0) 
}